@mixin bg($padding) {
  background-image: linear-gradient(to bottom, #f1ad56, #db7290);
  padding: $padding;
}
div {
  text-align: center;
  color: white;
  @include bg(10px);
  button {
    &:hover {
      background-color: #ffd0dd;
      color: #db7290;
    }
  }
}
